<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&region=JP' %>
<script type="text/javascript">
google.maps.event.addDomListener(window, "load", GmapInitialize);
</script>

<div class="row">
  <div class="span7">
    <p id="notice"><%= notice %></p>

    <p style="text-align:center;">
      <%= image_tag @px.image.url(:medium), :alt => '', :title => 'Image from S3' %>
    </p>
  </div>
  
  <div class="span3 info">
    <h2><%= @px.title %></h2>
    <p>(<%= @px.user_name %> uploaded)</p>
    <p>
      <b>description:</b>
      <%= @px.description %>
    </p>
    <p>
      <b>Location:</b>
      <% if @px.latitude and @px.longitude %>
      <span id="latitude"><%= @px.latitude %></span>, 
      <span id="longitude"><%= @px.longitude %></span>
      <% else %>
      None
      <% end %>
    </p>
  </div>
</div>

<div class="row" style="margin-top:1em;">
  <h2>Location</h2>
  <div class="span5">
    <div id="gmap_canvas" class="span5" style="height:240px"></div> <!-- you have to specify width or height on css layer to display gmaps! -->
  </div>
  <div class="span5">
    <div id="gmap_street_view" class="span5" style="height:240px"></div> <!-- you have to specify width or height on css layer to display gmaps! -->
  </div>
</div>

<div class="row" style="margin-top:1em;">
  <div class="span5">
    <%= render 'comments/index' %>

    <%= render 'comments/form' %>
  </div>
</div>

<div class="row">
  <div class="span11">
    <p>
      <%= link_to 'Edit', edit_px_path(@px) %> |
      <%= link_to 'Back', pxes_path %>
    </p>
  </div>
</div>
