<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&region=JP' %>
<script type="text/javascript">
google.maps.event.addDomListener(window, "load", GmapInitialize);
</script>

<div class="row">
  <div class="span11">
    <p id="notice"><%= notice %></p>

    <p style="text-align:center;">
      <%= image_tag @px.image.url(:medium), :alt => '', :title => 'Image from S3' %>
      <%= image_tag @px.image_url, :alt => '', :title => 'Image url' %>
    </p>
  </div>
</div>

<div class="row" style="margin-top:1em;">
  <div class="span6">
    <p>
      <b>Title:</b>
      <%= @px.title %>
    </p>
    <p>
      <b>User name:</b>
      <%= @px.user_name %>
    </p>
    <p>
      <b>Description:</b>
      <%= @px.description %>
    </p>
    <p>
      <b>Location:</b>
      <% if @px.latitude and @px.longitude %>
      <span id="latitude"><%= @px.latitude %></span>, 
      <span id="longitude"><%= @px.longitude %></span>
      <% else %>
      None
      <% end %>
    </p>
    <%= render 'comments/index' %>

    <%= render 'comments/form' %>

    <p>
      <%= link_to 'Edit', edit_px_path(@px) %> |
      <%= link_to 'Back', pxes_path %>
    </p>
  </div>
  <div class="span5">
  <% if @px.latitude and @px.longitude and @px.gmaps %>
    <div id="gmap_canvas" class="span5" style="height:240px"></div> <!-- you have to specify width or height on css layer to display gmaps! -->
  <% end %>
  </div>
</div>
