<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&region=JP' %>
<script type="text/javascript">
google.maps.event.addDomListener(window, "load", GmapInitialize);
</script>

<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @px.title %>
</p>

<p>
  <b>User name:</b>
  <%= @px.user_name %>
</p>

<p>
  <b>Image from S3:</b>
  <%= image_tag @px.image.url(:medium) %>
</p>

<p>
  <b>Image url:</b>
  <%= image_tag @px.image_url %>
</p>

<p>
  <b>Description:</b>
  <%= @px.description %>
</p>

<p>
  <b>Latitude:</b>
  <span id="latitude"><%= @px.latitude %></span>
</p>

<p>
  <b>Longitude:</b>
  <span id="longitude"><%= @px.longitude %></span>
</p>

<p>
  <b>Gmaps:</b>
  <%= @px.gmaps %>
</p>
<div id="gmap_canvas" style="width:480px; height:300px"></div> <!-- specifying width or height on css layer is required! -->

<%= render 'comments/index' %>
<%= render 'comments/form' %>
<%= link_to 'Edit', edit_px_path(@px) %> |
<%= link_to 'Back', pxes_path %>
